body{
    background: #efefef;
    font-size: 18px;
}

h1{
    background-color: #4aaaa5;
}

h2{
    color: #4aaaa5;
}

#Header a:hover{
    color: red;
}

footer{
    background-color: #666666;
}

.FooterHr {
    background-color: #4aaaa5;
}

.Indent {
    text-indent: 15px;
    line-height: 35px;
}

img {
    height: 8rem;
}